{% extends 'base.html.twig'%}
{% block body %}
<section class="articles">
  <article class="mt-4">
    <h2>...Les MignOpotes!</h2>
    <div class="jumbotron content mt-4">
      <div class="equipe">
        <img src="{{asset('img/sebopote.png')}}" alt="Sébastien">
        <label>Seb</label>
        <img src="{{asset('img/margopote.png')}}" alt="Margotte">
        <label>Margotte</label>
        <img src="{{asset('img/nicopote.png')}}" alt="Nicolas">
        <label>Nicolas</label>
        <img src="{{asset('img/yanopote.png')}}" alt="Yannis">
        <label>Yannis</label>
        <img src="{{asset('img/aymopote.png')}}" alt="Ayman">
        <label>Ayman</label>
      </div>
      <br><br>
      
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra tellus 
        eget nisi blandit, quis volutpat elit pellentesque. Nam commodo lacinia sem, 
        eu pulvinar arcu rhoncus et. Cras feugiat facilisis ligula id cursus. 
        Phasellus at vehicula metus, sed mollis leo. Phasellus sed justo ex. Vestibulum 
        non metus nisl. Quisque ac efficitur purus, nec lacinia metus.</p>

        <p>Nunc id risus sollicitudin, consectetur enim a, efficitur massa. Sed hendrerit, risus sit amet gravida ornare, libero felis commodo velit, in sodales dui turpis ac purus. Pellentesque id metus eget lorem fermentum congue.</p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis 
        imperdiet odio ut sagittis. Nullam vel semper sem. Donec id odio elit. 
        Morbi consectetur commodo nibh, venenatis vestibulum tellus vulputate nec. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>

        <p>Mauris blandit nec orci at gravida. Aenean interdum tempor cursus.Maecenas 
        aliquet ipsum vitae tempus varius. Nullam quis ex id sapien porta tempus nec 
        in massa. Vestibulum tincidunt pulvinar massa vitae ultricies. Vestibulum 
        vestibulum pellentesque odio ac rutrum.</p>
      </div>
    </article>
</section>
{% endblock %}